<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.jikezu.dao.HouseReleaseMapper">

    <resultMap id="BaseResultMap" type="com.house.jikezu.model.HouseRelease">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="house_release_num" property="houseReleaseNum" jdbcType="VARCHAR"/>
        <result column="release_user_num" property="releaseUserNum" jdbcType="VARCHAR"/>
        <result column="release_house_num" property="releaseHouseNum" jdbcType="VARCHAR"/>
        <result column="house_releasecol" property="houseReleasecol" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, house_release_num, release_user_num, release_house_num, house_releasecol
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from house_release
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from house_release
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.house.jikezu.model.HouseRelease">
        insert into house_release (id, house_release_num, release_user_num, 
            release_house_num, house_releasecol)
        values (#{id,jdbcType=INTEGER}, #{houseReleaseNum,jdbcType=VARCHAR}, #{releaseUserNum,jdbcType=VARCHAR}, 
            #{releaseHouseNum,jdbcType=VARCHAR}, #{houseReleasecol,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.house.jikezu.model.HouseRelease">
        insert into house_release
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="houseReleaseNum != null">
                house_release_num,
            </if>
            <if test="releaseUserNum != null">
                release_user_num,
            </if>
            <if test="releaseHouseNum != null">
                release_house_num,
            </if>
            <if test="houseReleasecol != null">
                house_releasecol,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="houseReleaseNum != null">
                #{houseReleaseNum,jdbcType=VARCHAR},
            </if>
            <if test="releaseUserNum != null">
                #{releaseUserNum,jdbcType=VARCHAR},
            </if>
            <if test="releaseHouseNum != null">
                #{releaseHouseNum,jdbcType=VARCHAR},
            </if>
            <if test="houseReleasecol != null">
                #{houseReleasecol,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.house.jikezu.model.HouseRelease">
        update house_release
        <set>
            <if test="houseReleaseNum != null">
                house_release_num = #{houseReleaseNum,jdbcType=VARCHAR},
            </if>
            <if test="releaseUserNum != null">
                release_user_num = #{releaseUserNum,jdbcType=VARCHAR},
            </if>
            <if test="releaseHouseNum != null">
                release_house_num = #{releaseHouseNum,jdbcType=VARCHAR},
            </if>
            <if test="houseReleasecol != null">
                house_releasecol = #{houseReleasecol,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.house.jikezu.model.HouseRelease">
        update house_release
        set house_release_num = #{houseReleaseNum,jdbcType=VARCHAR},
            release_user_num = #{releaseUserNum,jdbcType=VARCHAR},
            release_house_num = #{releaseHouseNum,jdbcType=VARCHAR},
            house_releasecol = #{houseReleasecol,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="listReleaseHouses" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from house_release
        where release_user_num = #{id,jdbcType=VARCHAR}
    </select>

    <select id="listAllReleaseHousesExcMe" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from house_release
        where release_user_num != #{id,jdbcType=VARCHAR}
    </select>
</mapper>