<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.jikezu.dao.HouseMapper" >

    <resultMap id="BaseResultMap" type="com.house.jikezu.model.House" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="house_num" property="houseNum" jdbcType="VARCHAR" />
        <result column="house_title" property="houseTitle" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="region" property="region" jdbcType="VARCHAR" />
        <result column="desc_address" property="descAddress" jdbcType="VARCHAR" />
        <result column="building" property="building" jdbcType="INTEGER" />
        <result column="unit" property="unit" jdbcType="INTEGER" />
        <result column="rent" property="rent" jdbcType="DOUBLE" />
        <result column="rent_type" property="rentType" jdbcType="VARCHAR" />
        <result column="unit_type" property="unitType" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="floor" property="floor" jdbcType="INTEGER" />
        <result column="all_floor" property="allFloor" jdbcType="INTEGER" />
        <result column="supporting_facilities" property="supportingFacilities" jdbcType="VARCHAR" />
        <result column="house_desc" property="houseDesc" jdbcType="VARCHAR" />
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
        <result column="photos_address" property="photosAddress" jdbcType="VARCHAR" />
        <result column="x_position" property="xPosition" jdbcType="DOUBLE" />
        <result column="y_position" property="yPosition" jdbcType="DOUBLE" />
        <result column="own_user_num" property="ownUserNum" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, house_num, house_title, status, province, city, region, desc_address, building, 
        unit, rent, rent_type, unit_type, area, floor, all_floor, supporting_facilities, 
        house_desc, contact_person, phone_num, photos_address, x_position, y_position, own_user_num
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string" >
        select 
        <include refid="Base_Column_List" />
        from house
        where house_num = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from house
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.house.jikezu.model.House" >
        insert into house (id, house_num, house_title, 
            status, province, city, 
            region, desc_address, building, 
            unit, rent, rent_type, 
            unit_type, area, floor, 
            all_floor, supporting_facilities, house_desc, 
            contact_person, phone_num, photos_address, 
            x_position, y_position, own_user_num
            )
        values (#{id,jdbcType=INTEGER}, #{houseNum,jdbcType=VARCHAR}, #{houseTitle,jdbcType=VARCHAR}, 
            #{status,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
            #{region,jdbcType=VARCHAR}, #{descAddress,jdbcType=VARCHAR}, #{building,jdbcType=INTEGER}, 
            #{unit,jdbcType=INTEGER}, #{rent,jdbcType=DOUBLE}, #{rentType,jdbcType=VARCHAR}, 
            #{unitType,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{floor,jdbcType=INTEGER}, 
            #{allFloor,jdbcType=INTEGER}, #{supportingFacilities,jdbcType=VARCHAR}, #{houseDesc,jdbcType=VARCHAR}, 
            #{contactPerson,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{photosAddress,jdbcType=VARCHAR}, 
            #{xPosition,jdbcType=DOUBLE}, #{yPosition,jdbcType=DOUBLE}, #{ownUserNum,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.house.jikezu.model.House" >
        insert into house
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="houseNum != null" >
                house_num,
            </if>
            <if test="houseTitle != null" >
                house_title,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="region != null" >
                region,
            </if>
            <if test="descAddress != null" >
                desc_address,
            </if>
            <if test="building != null" >
                building,
            </if>
            <if test="unit != null" >
                unit,
            </if>
            <if test="rent != null" >
                rent,
            </if>
            <if test="rentType != null" >
                rent_type,
            </if>
            <if test="unitType != null" >
                unit_type,
            </if>
            <if test="area != null" >
                area,
            </if>
            <if test="floor != null" >
                floor,
            </if>
            <if test="allFloor != null" >
                all_floor,
            </if>
            <if test="supportingFacilities != null" >
                supporting_facilities,
            </if>
            <if test="houseDesc != null" >
                house_desc,
            </if>
            <if test="contactPerson != null" >
                contact_person,
            </if>
            <if test="phoneNum != null" >
                phone_num,
            </if>
            <if test="photosAddress != null" >
                photos_address,
            </if>
            <if test="xPosition != null" >
                x_position,
            </if>
            <if test="yPosition != null" >
                y_position,
            </if>
            <if test="ownUserNum != null" >
                own_user_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="houseNum != null" >
                #{houseNum,jdbcType=VARCHAR},
            </if>
            <if test="houseTitle != null" >
                #{houseTitle,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="region != null" >
                #{region,jdbcType=VARCHAR},
            </if>
            <if test="descAddress != null" >
                #{descAddress,jdbcType=VARCHAR},
            </if>
            <if test="building != null" >
                #{building,jdbcType=INTEGER},
            </if>
            <if test="unit != null" >
                #{unit,jdbcType=INTEGER},
            </if>
            <if test="rent != null" >
                #{rent,jdbcType=DOUBLE},
            </if>
            <if test="rentType != null" >
                #{rentType,jdbcType=VARCHAR},
            </if>
            <if test="unitType != null" >
                #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="floor != null" >
                #{floor,jdbcType=INTEGER},
            </if>
            <if test="allFloor != null" >
                #{allFloor,jdbcType=INTEGER},
            </if>
            <if test="supportingFacilities != null" >
                #{supportingFacilities,jdbcType=VARCHAR},
            </if>
            <if test="houseDesc != null" >
                #{houseDesc,jdbcType=VARCHAR},
            </if>
            <if test="contactPerson != null" >
                #{contactPerson,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null" >
                #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="photosAddress != null" >
                #{photosAddress,jdbcType=VARCHAR},
            </if>
            <if test="xPosition != null" >
                #{xPosition,jdbcType=DOUBLE},
            </if>
            <if test="yPosition != null" >
                #{yPosition,jdbcType=DOUBLE},
            </if>
            <if test="ownUserNum != null" >
                #{ownUserNum,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.house.jikezu.model.House" >
        update house
        <set >
            <if test="houseNum != null" >
                house_num = #{houseNum,jdbcType=VARCHAR},
            </if>
            <if test="houseTitle != null" >
                house_title = #{houseTitle,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="region != null" >
                region = #{region,jdbcType=VARCHAR},
            </if>
            <if test="descAddress != null" >
                desc_address = #{descAddress,jdbcType=VARCHAR},
            </if>
            <if test="building != null" >
                building = #{building,jdbcType=INTEGER},
            </if>
            <if test="unit != null" >
                unit = #{unit,jdbcType=INTEGER},
            </if>
            <if test="rent != null" >
                rent = #{rent,jdbcType=DOUBLE},
            </if>
            <if test="rentType != null" >
                rent_type = #{rentType,jdbcType=VARCHAR},
            </if>
            <if test="unitType != null" >
                unit_type = #{unitType,jdbcType=VARCHAR},
            </if>
            <if test="area != null" >
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="floor != null" >
                floor = #{floor,jdbcType=INTEGER},
            </if>
            <if test="allFloor != null" >
                all_floor = #{allFloor,jdbcType=INTEGER},
            </if>
            <if test="supportingFacilities != null" >
                supporting_facilities = #{supportingFacilities,jdbcType=VARCHAR},
            </if>
            <if test="houseDesc != null" >
                house_desc = #{houseDesc,jdbcType=VARCHAR},
            </if>
            <if test="contactPerson != null" >
                contact_person = #{contactPerson,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null" >
                phone_num = #{phoneNum,jdbcType=VARCHAR},
            </if>
            <if test="photosAddress != null" >
                photos_address = #{photosAddress,jdbcType=VARCHAR},
            </if>
            <if test="xPosition != null" >
                x_position = #{xPosition,jdbcType=DOUBLE},
            </if>
            <if test="yPosition != null" >
                y_position = #{yPosition,jdbcType=DOUBLE},
            </if>
            <if test="ownUserNum != null" >
                own_user_num = #{ownUserNum,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.house.jikezu.model.House" >
        update house
        set house_num = #{houseNum,jdbcType=VARCHAR},
            house_title = #{houseTitle,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            province = #{province,jdbcType=VARCHAR},
            city = #{city,jdbcType=VARCHAR},
            region = #{region,jdbcType=VARCHAR},
            desc_address = #{descAddress,jdbcType=VARCHAR},
            building = #{building,jdbcType=INTEGER},
            unit = #{unit,jdbcType=INTEGER},
            rent = #{rent,jdbcType=DOUBLE},
            rent_type = #{rentType,jdbcType=VARCHAR},
            unit_type = #{unitType,jdbcType=VARCHAR},
            area = #{area,jdbcType=VARCHAR},
            floor = #{floor,jdbcType=INTEGER},
            all_floor = #{allFloor,jdbcType=INTEGER},
            supporting_facilities = #{supportingFacilities,jdbcType=VARCHAR},
            house_desc = #{houseDesc,jdbcType=VARCHAR},
            contact_person = #{contactPerson,jdbcType=VARCHAR},
            phone_num = #{phoneNum,jdbcType=VARCHAR},
            photos_address = #{photosAddress,jdbcType=VARCHAR},
            x_position = #{xPosition,jdbcType=DOUBLE},
            y_position = #{yPosition,jdbcType=DOUBLE},
            own_user_num = #{ownUserNum,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="listHouses" resultMap="BaseResultMap" parameterType="string" >
        select
        <include refid="Base_Column_List" />
        from house
        where own_user_num = #{id,jdbcType=VARCHAR}
    </select>
</mapper>