<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.jikezu.dao.HouseReservationMapper">

    <resultMap id="BaseResultMap" type="com.house.jikezu.model.HouseReservation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="house_reservation_num" property="houseReservationNum" jdbcType="VARCHAR"/>
        <result column="reservation_tenant_num" property="reservationTenantNum" jdbcType="VARCHAR"/>
        <result column="reservation_landlord_num" property="reservationLandlordNum" jdbcType="VARCHAR"/>
        <result column="reservation_house_num" property="reservationHouseNum" jdbcType="VARCHAR"/>
        <result column="reservation_date" property="reservationDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, house_reservation_num, reservation_tenant_num, reservation_landlord_num, reservation_house_num, 
        reservation_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from house_reservation
        where house_reservation_num = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from house_reservation
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByHouseReservationNum" parameterType="java.lang.String">
    delete from house_reservation
    where house_reservation_num = #{houseReservationNum,jdbcType=VARCHAR}
</delete>

    <insert id="insert" parameterType="com.house.jikezu.model.HouseReservation">
        insert into house_reservation (id, house_reservation_num, reservation_tenant_num, 
            reservation_landlord_num, reservation_house_num, 
            reservation_date)
        values (#{id,jdbcType=INTEGER}, #{houseReservationNum,jdbcType=VARCHAR}, #{reservationTenantNum,jdbcType=VARCHAR}, 
            #{reservationLandlordNum,jdbcType=VARCHAR}, #{reservationHouseNum,jdbcType=VARCHAR}, 
            #{reservationDate,jdbcType=DATE})
    </insert>

    <insert id="insertSelective" parameterType="com.house.jikezu.model.HouseReservation">
        insert into house_reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="houseReservationNum != null">
                house_reservation_num,
            </if>
            <if test="reservationTenantNum != null">
                reservation_tenant_num,
            </if>
            <if test="reservationLandlordNum != null">
                reservation_landlord_num,
            </if>
            <if test="reservationHouseNum != null">
                reservation_house_num,
            </if>
            <if test="reservationDate != null">
                reservation_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="houseReservationNum != null">
                #{houseReservationNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationTenantNum != null">
                #{reservationTenantNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationLandlordNum != null">
                #{reservationLandlordNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationHouseNum != null">
                #{reservationHouseNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationDate != null">
                #{reservationDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.house.jikezu.model.HouseReservation">
        update house_reservation
        <set>
            <if test="houseReservationNum != null">
                house_reservation_num = #{houseReservationNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationTenantNum != null">
                reservation_tenant_num = #{reservationTenantNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationLandlordNum != null">
                reservation_landlord_num = #{reservationLandlordNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationHouseNum != null">
                reservation_house_num = #{reservationHouseNum,jdbcType=VARCHAR},
            </if>
            <if test="reservationDate != null">
                reservation_date = #{reservationDate,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.house.jikezu.model.HouseReservation">
        update house_reservation
        set house_reservation_num = #{houseReservationNum,jdbcType=VARCHAR},
            reservation_tenant_num = #{reservationTenantNum,jdbcType=VARCHAR},
            reservation_landlord_num = #{reservationLandlordNum,jdbcType=VARCHAR},
            reservation_house_num = #{reservationHouseNum,jdbcType=VARCHAR},
            reservation_date = #{reservationDate,jdbcType=DATE}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="listReservations" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from house_reservation
        where reservation_landlord_num = #{id,jdbcType=VARCHAR}
    </select>


</mapper>